<html>
  <head>
  </head>
  <body>
    <p>{{ captcha }}</p>
    <button onclick="record()">Record</button>
    <button onclick="stop()">Stop</button>
    <audio id="player" controls></audio>
    <p id="result"></p>
    <script>
      var recorder;
      function stop() {
        if(recorder) {
          let file = recorder.stop();
        }
      }
      function record() {
        navigator.mediaDevices.getUserMedia({audio: true, video: false})
          .then(function(stream){
            let player = document.getElementById('player');
            let canWav = MediaRecorder.isTypeSupported("audio/wav") ? "audio/wav" : "audio/ogg";
            recorder = new MediaRecorder(stream, {
              mimeType: canWav
            });
            recorder.ondataavailable = function(e) {
              let url = URL.createObjectURL(e.data);
              player.src = url;

              let data = new FormData();
              data.append('speech', e.data);

              let request = new XMLHttpRequest()
              request.onload = function() {
                let result = document.getElementById('result')
                result.innerText = request.responseText;
              }
              request.open('POST', '/audio', true);
              request.send(data);
            }
            recorder.start();
          });
      }
    </script>
  </body>
</html>
