<html>
  <head>
    <style>
      #player {
        display: block;
      }
    </style>
  </head>
  <body>
    <p>{{ captcha }}</p>
    <button onclick="record()">Record</button>
    <button onclick="stop()">Stop</button>
    <audio id="player" controls></audio>
    <input id="file" type="file" />
    <p id="result"></p>
    <p id="text"></p>
    <script>
      var recorder;

      function sendData(e) {
        let data = new FormData();
        data.append('speech', e);

        let request = new XMLHttpRequest()
        request.onload = function() {
          let json = JSON.parse(request.response)
          result.innerText = json.label;
          text.innerText = json.speech;
        }
        request.open('POST', '/audio', true);
        request.send(data);
      }

      window.addEventListener('DOMContentLoaded', () => {
        let file_input = document.getElementById('file')
        file_input.onchange = (ev) => {
          let t = ev.target;
          let file = t.files[0];
          sendData(file);
        }
      });

      function stop() {
        if(recorder) {
          let file = recorder.stop();
        }
      }

      

      function record() {
        let result = document.getElementById('result')
        let text = document.getElementById('text')
        result.innerText = "";
        text.innerText = "";
        navigator.mediaDevices.getUserMedia({audio: true, video: false})
          .then(function(stream){
            let player = document.getElementById('player');
            let canWav = MediaRecorder.isTypeSupported("audio/wav") ? "audio/wav" : "audio/ogg";
            recorder = new MediaRecorder(stream, {
              mimeType: canWav
            });
            recorder.ondataavailable = function(e) {
              let url = URL.createObjectURL(e.data);
              player.src = url;

              sendData(e.data);
            }
            recorder.start();
          });
      }
    </script>
  </body>
</html>
